.container {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}
.comment-container {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  overflow: auto;
  max-height: calc(100% - 20%);
  text-align: left;
}

.comment {
  font-size: 1rem;
}
